//- Modal
div#confModal.modal.fade(role='dialog')
    div.modal-dialog
        //- Modal content
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal') ×
                h2.modal-title.primary_font Add Event
            div.modal-body
                div.time-selection(style='display:block;')
                h5(style="display: inline-block;") Select a time and date for the interview: 
                    include timepicker.pug
                p 
                | Are you sure you want to confirm this interview time?  
                strong Once submited you won't be able to modify your selection.
                br
                br
                i 
                    |*Schedule the event in your local time. 
                    i#local-time

            div.modal-footer
                button#confirm.btn.btn-primary(type='button',disabled=true,data-dismiss='modal') Confirm
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel