link(rel="stylesheet", href="https://unpkg.com/flatpickr/dist/flatpickr.min.css")
link(rel="stylesheet", href="./../public/css/confirmDate.css")
script(src="https://unpkg.com/flatpickr")
script(src="./../public/js/confirmDate.js")
.flatpickr(style="width:200px;display: inline-block;margin-left:15px;")
  input#flp(type='text', placeholder='Select Date..', data-input='',style="width:90%;padding:4px 4px") 
script(src='./../public/js/timepicker.js')
    


